.customize {
    width: 40%;
    margin: auto;
    font-family: cursive;
    border: 4px dotted silver;
    text-align: center;
    box-shadow: 20px 10px 15px lightpink;
}
.customize input {
    width: 30%;
    height: 40px;
    font-size: 15px;
    border-radius: 0.8px;
    
}
#changeGroundColor,#cleanField {
    width: 45%;
    background-color: rgb(235, 230, 230);
    font-size: 1rem;
}
#changeGroundColor {
    margin-left: 15px;
    margin-top: 5px;
}
#displayCustomizeForm {
    font-size: 1rem;
    width: 15%;
}
.hide {
    display:none;
}
#wrapper {
    width: 60%;
    margin: 30px auto 0 auto;
    padding: 50px;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 38%; 
    border-radius: 15px;
    box-shadow: 10px 10px 20px 20px gray;
}
img {
    width: 500px;
    height: 140px;
    margin-left: 40px;
    font-size: 24px;
}
body {
    background-color: rgb(255, 222, 219);
    font-family: sans-serif;
    font-size: 1.3rem;
}
h1 {
    font-family: 'Cormorant Garamond';
    font-size: 45px;
    color: navy;
    
}
h2, #questionCounter {
    color: #333333;
}
#questionCounter {
    font-size: 25px;
    text-align: center;
    margin:35px 130px 35px 0;
    box-shadow: 25px 15px 25px 0 rgb(197, 194, 191);
}
.rules {
    line-height: 1.4;
}
.questions {
    font-size: 1.6rem;
}
blockquote {
    font-weight: bold;
    font-family: cursive;
    font-size: 20px;
}
span {
    color: red;
}
button {
    width: 120px;
    height: 50px;
    font-size: 20px;
    margin: 20px 0 10px 70px;
    background-color: rgb(107, 238, 107);
    border: 1px solid grey;
    border-radius: 6px;
    color: #333333;
}
#previousButton {
    background-color: lightskyblue;
    margin-left: 180PX;
}
button:active {
    background-color: gray;
}
button:hover {
    color: orangered;
}
#previousButton:active {
    background-color:white;
}
#seeAnswersButton {
    width: 170px;
    margin: 20px 0 0 40px;
    background-color: lightskyblue;
}
#timeSpent {
    width: 80px;
    font-size: 20px;
    border: none;
    float: right;
    color:#333333;
}

#img-winner{
    margin: 20px;
    padding-bottom: 30px;
}
#img-winner p {
    padding-top: 20px;
    text-align: center;
}
#img-winner img, #noPlace img, #thirdWinner img, #secondWinner img {
    width: 60%;
    height: 40%;
    margin-left: 20%;
}
#noPlace img {
    padding-bottom: 30px;
}
#noPlace, #secondWinner, #img-winner{
    background-color: lightgrey;
    padding-bottom: 20px;
}
#noPlace p, #thirdWinner p, #secondWinner p, #img-winner p {
    font-size: 2em;
    color: orangered;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    font-family: cursive;
}
.fucsiaColor {
    color: fuchsia;
}
.blueColor {
    color: blue;
}
#score {
    font-family: 'Cormorant Garamond';
    font-size: 40px;
    text-align: center;
    color:#333333;
    font-weight: bolder;
}
#Q1, #Q2, #Q3, #Q4,#Q5, #Q6,#Q7, #Q8, #Q10, #Q11, #Q12      {
    margin-left: 50px;
}
#Q9 {
    margin-left: 60px;
}
#Q1 p {
    margin-left: 0;
}

footer {
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    color: navy;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}
.slidein {
    animation-duration: 15s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
    margin-left: 0px;
    width: 300px; 
    
    }

    to {
    margin-left: 300px;
    width: 500px;
    }
}